@model Svr.Web.Models.FilterViewModel
<form method="get">
    <div class="form-group form-inline">
        <label class="control-label">Поиск: </label>
        @Html.TextBox("searchString", Model.SearchString, htmlAttributes: new { @class = "form-control" })
        <label class="control-label">Группа исков: </label>
        @Html.DropDownList("owner", Model.Owners, "Выберите категорию споров",
                htmlAttributes: new { @class = "form-control", onchange = @"form.submit();" })
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>