@if (!User.IsInRole("Пользователь ОПФР"))
{
    <a asp-action="Create" asp-all-route-data='new Dictionary<string, string> { { "lord", @Model.FilterViewModel.SelectedLord }, { "owner", @Model.FilterViewModel.SelectedOwner } }' class="btn btn-sm btn-primary">Добавить</a>
}