@model Svr.Web.Models.FilterViewModel
@if (User.IsInRole(Role.Administrator))
{
    <div class="form-group">
        <label class="control-label">Регион: </label>
        @Html.DropDownList("lord", Model.Lords, "Выберите регион", htmlAttributes: new { @class = "form-control", onchange = @"form.submit();" })
    </div>
}
else
{
    @Html.HiddenFor(model => model.SelectedLord)
}
