@using Svr.Utils
@if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Manager))
{
    <a asp-action="Create" asp-all-route-data='new Dictionary<string, string> { { "lord", @Model.FilterViewModel.SelectedLord }, { "owner", @Model.FilterViewModel.SelectedOwner } }' class="btn btn-sm btn-primary">Добавить</a>
}