@model string
@{
    ViewData["Title"] = "Добавить роль";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Create" method="post">
            <div class="form-group">
                @Html.Label(null, "Новая роль", htmlAttributes: new { @class = "control-label col-md-2" })
                <input name="name" class="form-control col-md-10" />
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Добавить</button>
        </form>
    </div>
</div>