@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Список ролей";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
        <a class="btn btn-sm btn-primary" asp-action="Create">Добавить роль</a>
        <a class="btn btn-sm btn-primary" asp-action="UserList">Список пользователей</a>
    </div>
</div>