@model Svr.Web.Models.FilterViewModel
<form method="get" class="form-inline">
    <div class="form-group">
        <label class="control-label">Поиск: </label>
        @Html.TextBox("searchString", Model.SearchString, htmlAttributes: new { @class = "form-control" })
    </div>
    <input type="submit" value="Фильтр" class="btn btn-sm btn-primary" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.ItemsCount)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.ItemsCount)
        </dd>
    </dl>
</form>