@model Svr.Utils.Models.CategoryDisputesViewModels.IndexViewModel

@{
    ViewData["Title"] = "Категории споров";
}
@*<h1>@tatusMessage</h1>*@
<h4>@ViewData["Title"]</h4>
@{await Html.RenderPartialAsync("_StatusMessage", Model.StatusMessage); }
<p>
    @{await Html.RenderPartialAsync(partialViewName: $"_AddButton");}
</p>
@{await Html.RenderPartialAsync("List", Model); }