@model Svr.Web.Models.PerformersViewModels.IndexViewModel

@{
    ViewData["Title"] = "Список исполнителей";
}

<h4>@ViewData["Title"]</h4>
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<p>
    <a asp-action="Create" asp-controller="Performers" class="btn btn-default">Добавить</a>
</p>

@await Html.PartialAsync("List", Model)

